a       { text-decoration: none ; color : RGB(77,0,255)}
a:hover { text-decoration: underline; color : Red }
h1      { color : RGB(0,110,0)}
body    { background: url("images\back05.gif");    color: black}
